/* This thing is largely bashed together from SadGrl's layout template (at https://sadgrl.online/projects/layout-builder/) and https://www.w3schools.com/ and some StackOverflow threads */ 
@font-face{
  font-family: CambriaMath;
  src: url("../fonts/cambria-math.ttf");
}

html{
  height: 100%;
  font-family: CambriaMath;
}

body {
  margin: 0;
  color: #384251;
  background-image: url("../images/white.png");
  height: 100%;
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 1070px;
  margin: 0 auto;
}

a {
  color: #848AA2;
  font-weight: normal;
  text-decoration:none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: #384251;
  text-decoration:none;
}

a:hover {
  color: #EB79EB;
}


#header {
  width: 100%;
  background-color: transparent;
}
#header img {
  width: calc(100% - 230px);
  margin-left: 230px;
}

footer {
  background-image: url("../images/background.png");
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px 20px 20px 80px;
  text-align: justify;
  min-height:calc(100% - 240px);
}

h1, h2 {
  text-align: left;
  border-bottom: 2px outset #848AA2;
  width: 100%;
}

h1 {
margin-top: 0;
}

h3 {
  font-size: 25px;
}

h4 {
  text-align: left;
  font-size: 19px;
  margin: 0px;
  width: 100%;
}

.stub {
  margin: 0 auto 30px;
  text-decoration: none;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
  background-color: #FAF9F2;
  min-height: 150px;
  max-height: fit-content;
  flex-wrap: wrap;
  display: flex;
  padding: 20px;
  max-width: 500px
}
.stub img {
  margin: 10px 30px 0 0;
  height: 100px;
  width: 100px;
}
.stub p {
  max-width: 300px;
}

.gallery a {
  display: flex;
  flex-direction: column;
}
p.caption{
  margin: 0 auto;
}

.imagehere {
  height: 150px;
  width: 150px;
  margin-left:auto;
  margin-right:auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.charactermain-image {
  height: 450px;
  width: 300px;
  margin-left:auto;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 0;
  border-bottom: none;
}

.galleryimage {
  float: left;
  width: 170px;
  height: 170px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  margin: 10px;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #384251
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}


/* Thanks to LetoLeGaosaure on Pillowfort for pointing this out! */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  color: inherit;
} 
/* -------- */

.box {
  background-color: #E7E9EB;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
  padding: 10px;
}

.gallery {
  background-color: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}

#toc {
  float: left;
  text-align:left;
  width: 200px;
  margin-right:auto;
  margin: 0px 40px 10px 0px;
  background-color:#FAF9F2;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
}

ol {
  padding-left: 8%;
  list-style-type: circle;
  }

li {
  padding-bottom: 3px;
  }

.characterprofile {
float: right;
width: 300px;
margin-left:auto;
margin: 0px 0px 30px 30px;
background-color: #FAF9F2;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


table {
  border-collapse: collapse;
  width: 300px;
  background-color: #FAF9F2;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
}

tbody {
margin: 3px 10px;
}

td, th {
text-align: left;
padding: 3px 10px;
border-right: 2px outset #848AA2;
border-left: 2px outset #848AA2;
}

td:nth-child(odd) {
font-weight: 600;
  text-align: right;
 width: 35%;
}

tr:nth-child(odd) {
background-color: #EDE2EA;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 230px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EDE2EA;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-bottom: none;
  border-right: 2px outset #848AA2;
}

.sidenav a {
  padding: 7px 0px 7px 20px;
  margin: 0px 40px 5px 30px;
  text-decoration: none;
  display: block;
  border: 2px outset #848AA2;
  border-radius: 0 10px 0 10px;
  background-color: #FAF9F2;
}

  .sidenav p {
  padding: 0px 20px;
  text-decoration: none;
    }

  .sidenav h2 {
  margin-top: 0px;
  padding: 0px 40px 0px 40px;
  text-decoration: none;
  text-align: justify;
  border-bottom: 0px;
    }


/* MEDIA QUERY */

@media only screen and (max-width: 1350px) {
  html, body {
    height: 100%;
  }
  main {
    float: left;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 20px 0px;
    min-height: 100%
  }
  #header img{
    width: 100%;
    margin-left: 0;
  }
  footer {
    display: none;
  }
  .sidenav {
    min-height: 40px;
    max-height: fit-content;
    width: 100%; /* Set the width of the sidebar */
    position: static;
    z-index: 1; /* Stay on top */
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
    top: 0; /* Stay at the top */
    left: 0;
    padding-top: 0;
    background-image: url("../images/background.png");
    white-space: nowrap;
    align-content: center;
    border-bottom: 2px outset #848AA2;
    border-right: none;
      }
  
    .sidenav a {
    padding: 3px 10px;
    margin: 0px;
    text-decoration: none;
    display: inline;
    border: 0px;
    background-color: transparent;
    color: #384251;
      }
  
  .sidenav .imagehere {
    display: none;
              }
  
  .sidenav br {
    display: none;
              }
  
  .sidenav p {
    display: none;
              }
  
  .sidenav h2 {
    display: none;
              }
  
  .sidenav hr {
    display: none;
              }
  
} 

@media only screen and (max-width: 1100px) {
  #header img {
    display: none;
  }
table, .characterprofile {
  float: left;
  width: 100%;
  margin: 0
}
  
.characterprofile {
  float: left;
  width: 100%;
  margin: 0px 0px 30px 0px;
}
  
main {
  padding: 20px;
}
  
.charactermain-image {
  width: 100%;
  margin: 0
}

#toc {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
}