@font-face {
    font-family: EternalUiRegular;
    src: url(../fonts/EternalUiRegular.ttf);
}

html{
    height: 100%
}

body {
    text-align: center;
    background-color: #4b4b4b ;
    background-image: url(../images/background.png);
    color: antiquewhite;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;  /* Horizontally centers */
    align-items: center;      /* Vertically centers */
    height: 75%;
} 
.mobileheader {
    min-height:10%;
    width: 100%;
    background-image: url(../images/background.png);
    display: none;
}
.container {
    width: 500px;
    height: fit-content;
	font-size: 20px;
    font-family: EternalUiRegular;
    border-width: 5px;
	border-style: outset;
	border-color: antiquewhite;
    background-color: #4b4b4b ;
	border-radius: 25px 0 25px 0;
    padding: 30px 0;
}

.content {
    border-width: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Horizontally centers */
    align-items: center;      /* Vertically centers */
    border-style: none none none dashed;
    border-color: antiquewhite;
}

.button {
    width: 300px;
	border-width: 5px;
	border-style: outset;
	border-color: antiquewhite;
	border-radius: 25px 0 25px 0;
	margin: 20px auto;
}

h1 {
    font-size: 40px;
    margin-top: 10px;
}

p.buttontext {
    margin: 10px auto;
}
p.lore {
    margin: 5px;
}
a {
    color: antiquewhite;
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        border: none;
        width: 100%;
    }

    body {
        padding-top: 0;
        height: 90%;
        background-image: none;
        background-color: #4b4b4b ;
        display: block
    }

    .mobileheader {
        display: block;
    }

    .content {
        width: 95%;
    }
}